* {
  box-sizing: border-box;
}

a {
  text-transform: none;
  text-decoration: none;
  outline: none;
  color: white;
}

@media (max-width: 1920px) {

  /* Header */

  body {
    color: rgb(255, 255, 255);
    background: #192f2d;
    font-family: sans-serif;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #header_container {
    height: 0vh;
  }

  /* Main */


  #page_container {
    height: 88vh;
    flex-grow: 1;
  }
  
  /* Footer */

  #footer_container {
    height: 12vh;
  }

  .footer {
    height: 100%;
    padding: 0 10px;
    font-size: 1rem;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rss-block {
    height: 100%;
    width: 13%;
    background: url('./Assets/rs_school_js\ 1.png') no-repeat 0 0/100% 100%;
  }
}
