*,*:before,*:after {
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

h1,h2,h3 {
    margin: 0px;
}
main {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
a:visited {
    color: white;
}
a:hover, a:active {
    color: #9D8665;
}

input,
select {
  outline: none;
}

.section {
    width: 100%;
}

.dark-section {
    background-color: #030303;
}
 
.content-section {
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 1440px;
}

 .head-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 150px;
    color:  #FFFFFF;
} 

.logo {
    background: url(./assets/frames/Frame.svg) no-repeat left top;
    font-family: Forum;
    font-size: 28px;
    line-height: 50px;   
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 70px;
    margin-left: 17%;
    transition: all 0.3s;
}

.logo:hover {
    filter: invert(51%) sepia(30%) saturate(388%) hue-rotate(356deg) brightness(99%) contrast(88%);
}


.navigation {
    display: flex;
    justify-content: right;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    max-width: 720px;
    height: 50px;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
}

.navigation li {
  list-style: none;
  padding: 0 20px;
}

.navigation li:last-child {
  list-style: none;
  padding: 0;
}

.welcome-section {
 padding: 0;
 margin-bottom: 40px;
}

.welcome {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    max-width: 1440px;
    max-height: 750px;
}

.item-container {
  width: 1440px;
  height: 750px;
  overflow: hidden;
}

.item {
  display: none;
  position: absolute;
  max-width: 1000px;
  max-height: 750px;
  z-index: 0;
  right: 0;
  animation: 1s, ease-in-out;
}

.active,
.next {
  position: absolute;
  display: block;
  z-index: 0;
}

.welcome-interactive {
  position: absolute;
  z-index: 1;
  top: 320px;
}

.controls {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 120px;
  right: 0;
  bottom: -40px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: black;
  color: white;
}


.conrols-numbers {
  margin-left: 22px;
  font-size: 20px;
}

.controls-arrows {
  margin-bottom: 10px;
  margin-right: 15px;
}

.img-control {
  padding-left: 20px;
}

.img-control:first-child {
  padding-left: 0px;
}

@keyframes left {
  from {
    right: 0;
  }
  to {
    transform: translateX(-220%);
  }
}

@keyframes right {
  from {
    transform: translateX(170%);
  }
  to {
    right: 0;
  }
}

.to-left {
  animation-name: left;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}



.section-title {
    font-family: 'Forum', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    color: white;
    text-transform: uppercase;
}
.welcome-inf {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.discover {
    width: 360px;
    height: 75px;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    background: #710707;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    transition: all 0.3s;
}

.discover:hover {
background: #9D8665;
}

.section-title-general {
    position: relative;
    width: 1440px;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.section-title-general:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #710707;
}

.virtual-tour {
    width: 1440px;
    height: 997px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    gap: 40px 50px;
}

.link-virtual-tour {
    display: block;
    width: 440px;
    height: 422px;
    }

.imgage-tour {
    width: 440px;
    height: 285px;
}
.text-tour {
    position: relative;
    bottom: -20px;
    font-family: Forum;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.text-tour:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: all 0.3s;
}
.link-virtual-tour:hover img {
    transition-duration: 300ms;
    transform: scale(1.05);
}

.link-virtual-tour:hover .text-tour:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #710707;
}


.text-tour-add {
    margin-top: 45px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.text-tour-google {
    margin-top: -12px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.section-explore {
    display: flex;
    justify-content: space-between;
    padding-right: 240px;
}

.block-explore {
    width: 720px;
    height: 720px;
}

.picture-expore {
    width: 720px;
    height: 700px;
}


.text-explore {
    margin-top: 25px;
    padding-right: 65px;
    font-family: Roboto;
    text-align: left;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.text-explore-first { 
    margin-top: 75px;
}

.explore-section-title-general:after {
    width: 620px;
}

.span-gold {
    color: #9d8665;
}

.video-section {
    position: relative;
}
.video-information {
  max-width: 1440px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;    
}

.video-title {
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
}
.video-title:after {
  content: none;
}

.text-video {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  align-items: center;
}

.video-player { 
    width: 1440px;
    height:640px;
    object-fit: fill;
}

.button-play {
    position: absolute;
    bottom: calc(50% );
    left: calc(50% - 120px);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;    
}

.tool-bar {
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    bottom: 120px;
    Width:1440px;
    Height: 85px;
}

.buttons-tool {
    padding-top: 8px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;   
}

.toggle {
  margin-left: 10px;
  margin-right: -10px;
}

.progress {
  background: linear-gradient(to right, #fff 0%,#fff 40%, #fff 40%, #fff 100%);
  height: 7px;
  width: 929px;
  -webkit-appearance: none;
}

.volume {
    background: linear-gradient(to right, #fff 0%,#fff 40%, #fff 40%, #fff 100%);
    width: 155px;
    height: 7px;
    -webkit-appearance: none;
}


.video-slider {
  height: 320px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.video-swipe {
  max-width: 200px;
  max-height: 12px;
  margin: 0 auto;
}


.gallery-section {
 min-height: 2200px;
}
.gallery-title {
  color: white;
  margin-bottom: 70px;
}
.gallery-title::after {
  content: none;
}


.picture-container {
  max-height: 2035px;
  overflow-y: hidden;
}
.picture-inner-container {
  max-height: 2850px;
  display: flex;
  flex-direction:column-reverse;
  flex-wrap: wrap;
  gap: 30px 20px;
  
}

.image-gallery {
  display: block;
}


.section-title-ticket{
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    color: #9D8665;
}

.radio-image-ticket {
    height: 550px;
    margin-top: 100px;
    position: relative;
}

.ticket-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 270px;
    max-height: 220px;
    color: black;
    }

.text-ticket {
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: black;
    }
.form-radio {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}
.form-radio:hover {
  cursor: pointer;
}

.amount-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]

.amount {
   max-width: 150px;
   max-height: 341px;
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
}

.button-amount {
    margin-top: 11px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: black;
}

.calc {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 46px;
    border: 2px solid black;
}

.amount-button {
    background-color: transparent;
    background-repeat:no-repeat;
    cursor: pointer;
    border: none;
    overflow: hidden;
    outline:none;   
    color: black;
    width: 40px;
    font-size: larger;
    text-align: left;
    padding-left: 10px;
}

.image-ticket {
    float: left;
}
@keyframes booking-show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes booking-close {
  from {
    transform: translateX(0);
  }
  to {
    position: fixed;
  }
}


.show-booking {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -400px; 
  margin-left: -600px;  
  z-index: 1;
  background-color: white;
  animation: booking-show 0.5s ease-in-out;
}

.close-booking {
  animation: booking-close 0s;
}

.buy {
    position: absolute;
    right: 0;
    width: 175px;
    height: 50px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    background-color: black;

}

.buy:hover {
  cursor: pointer;
}

.buy-section {
  animation-fill-mode: forwards; 
}

.close {
  width: 25px;
  height: 25px;
  margin: -45px 45px 0 0;
  background: url(./assets/frames/Close.svg) no-repeat center;
  display: block;
  border: none;
  cursor: pointer;
  float: right;
  
}
.buy-content {
  display: flex;
  flex-wrap: wrap;
  font-family: roboto;
  margin: 0 auto;
  max-width: 1060px;
  max-height: 663px;
}
.buy-information {
  padding: 0 60px;
  max-width: 528px;
}


.logo-ticket {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #710707;
}

.img-logo-ticket {
  width: 85px;
  height: 41px;
  display: block;
  padding: 0;
  margin: 0 0 -15px 0;
}

.booking-title {
  padding: 0;
  margin: 0;
  font-size: 44px;
}

.booking-title::after {
  content: none;
}

.ticket-text {
  padding: 0;
  margin: 0 0 10px 0;
  color: #710707;
  font-size: 18px;
}

.input-inform-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;
  margin-top: 55px;
}

.name {
  padding-left: 40px;
  background: url(./assets/frames/name.svg) left 15px top 11px no-repeat;
}
.email {
  padding-left: 40px;
  background: url(./assets/frames/email.svg) left 15px top 11px no-repeat;
}

.telephone {
  padding-left: 40px;
  background: url(./assets/frames/tel.svg) left 15px top 5px no-repeat;
}

.ticket {
  padding-left: 40px;
  background: url(./assets/frames/TicketTipe.svg) left 15px top 11px no-repeat, url('./assets/frames/arrowDown.svg') no-repeat right 15px center;
  appearance: none;
}

input::placeholder {
  color: black;
}

.time-date {
  width: 190px;
  height: 40px;
}

.select-date {
  padding-left: 40px;
  background: url(./assets/frames/date.svg) no-repeat left 15px center, url('./assets/frames/arrowDown.svg') no-repeat right 15px center;;
  appearance: none;
}

.select-time {
  padding-left: 40px;
  background: url(./assets/frames/Time.svg) no-repeat left 15px center,  url('./assets/frames/arrowDown.svg') no-repeat right 15px center;;
  appearance: none;
}

.input-text-information {
  width: 100%;
  height: 40px;
}

.entry-ticket {
  padding: 0 15px 25px 15px;
  border: 1px solid #000;
  width: 100%;
}

.entry-text {
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  color: #9d8665;
  width: 100%;
}

.entry-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  
}

.entry-text:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.entry-span {
  display: inline-block;
  padding-top: 3px;
}

.booking-calc {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.booking-buttons {
  display: flex;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
}

.booking-simbols {
  width: 35px;
  height: 27px;
  color: white;
}

.plus{
  background: url("./assets/frames/plus.svg") no-repeat center, linear-gradient(#000, #000);
}
.minus {
  background: url("./assets/frames/minus.svg") no-repeat center, linear-gradient(#000, #000)
}

.buy-tickets {
  font-family: roboto;
  padding: 30px;
  border: 1px solid #000;
  max-width: 528px;
}

.overview-container {
  width: 470px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.text-overview {
  font-weight: 500px;
  padding: 0;
  margin: 0;
  font-size: 32px;
}
.text-tourTo {
  padding: 0;
  margin: 5px 0;
  font-size: 22px;
  color: #710707;
}
.text-Date {
  background: url(./assets/frames/date.svg) top 2px left no-repeat;
  padding-left: 20px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 300;
}
.text-time {
  background: url(./assets/frames/Time.svg) top 2px left no-repeat;
  padding-left: 20px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 300;
}
.text-exhibition {
  background: url(./assets/frames/Cicle.svg) top 2px left no-repeat;
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.booking-information-container {
  margin-top: 22px;
  width: 470px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.booking-black-number {
  margin-top: 3px;
  background-color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  outline:none;   
  color: white;
  width: 32px;
  height: 22px;
  font-size: 18px;
  text-align: center;
}
.booking-black-number::-webkit-outer-spin-button,
.booking-black-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.basic {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.black-number-and-text {
  display: flex;
}
.text-basic {
  padding-left: 10px;
}
.number-basic {
}
.senior {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.senior:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #710707;
}

.text-senior {
  padding-left: 10px;
}

.total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.text-total {
}


.cards-container {
  font-size: 12px;
  margin-top: -20px;
  position: relative;
  width: 470px;
  height: 240px;
}
.main-card {
  position: relative;
  padding: 15px 0 15px 20px;
  background-color: #A4A4A3;
  z-index: 3;
  width: 360px;
  height: 210px;
}


.text-card-number {
  padding: 0;
  margin: 0;
}
.input-card-number {
  width: 215px;
  height: 35px;
  padding: 0;
  margin-top: 5px;
}
.text-expiration {
  padding: 0;
  margin-top: 5px;
}
.expiration {
  display: flex;
  padding: 0;
  margin-top: 5px;
}
.input-expiration-date {
  padding-left: 10px;
  width: 100px;
  height: 35px;
  margin: -5px 0 0 0;
}
.input-expiration-year {
  padding-left: 10px;
  width: 100px;
  height: 35px;
  margin: -5px 0 0 15px;
}

.text-name {
  padding: 0;
  margin-top: 5px;
}
.input-name {
  width: 320px;
  height: 35px;
  margin-top: -5px;
}

.image-visa {
  position: absolute;
  top: 35px;
  right: 20px;
}
.image-master {
  position: absolute;
  top: 55px;
  right: 20px;
}

.second-card {
  background-color: #939393;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 360px;
  height: 210px;
  padding: 15px 20px;
}

.black-line {
  width: 340px;
  height: 45px;
  margin-top: 25px;
  background-color: black;
}
.cvv-container {
  float: right;
  width: 75px;
}
.text-cvv {
  margin-top: 12px;
  text-align: center;
  text-transform: uppercase;
}
.input-cvv {
  margin-top: 4px;
  width: 75px;
  height: 35px;
}
.text-cvv-information {
  width: 60px;
  margin: 5px 0 0 10px;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  line-height: 12px;
}


.button-book-now {
  display: inline-block;
  width: 220px;
  height: 45px;
  margin: 20px 0 -15px 0;
  background-color: #710707;
  color: white;
  font-size: 22px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  float: right;
}


.parallax {
  width: 100%;
  min-height: 400px;
  background: url(./assets/2560px-Richelieu_wing_-_Louvre.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact-section {
    padding-left: 0px;
    width: 1440px;
    height: 900px;
    background: url(assets/contacts.jpg) 100% 100% no-repeat;
}
.contacts-base {
    margin-top: 125px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.contact-adress {
    margin-top: 30px;
    padding-top: 10px;
}


.foot-content {
    padding-left: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    height: 300px;
    color:  #FFFFFF;
}

.navigation-footer {
    max-width: 400px;
    flex-wrap: wrap;
    text-align: left;
}

.social-links {
    height: 50px;
    width: 336px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
}

.footer-icon {
    height: 50px;
    width: 50px;
    transition: all 0.3s;
}

.footer-icon:visited {
    filter: invert(51%) sepia(30%) saturate(388%) hue-rotate(356deg) brightness(99%) contrast(88%);
}

.footer-icon:hover {
    filter: invert(51%) sepia(30%) saturate(388%) hue-rotate(356deg) brightness(99%) contrast(88%);
}

.youtube {
    background: url(./assets/frames/Youtube.svg) no-repeat;
}

.instagram {
    background: url(./assets/frames/Instagram.svg) no-repeat;
}

.facebook {
    background: url(./assets/frames/Facebook.svg) no-repeat;
}

.twitter {
    background: url(./assets/frames/Twitter.svg) no-repeat;
}

.pinterest {
    background: url(./assets/frames/Pinterest.svg) no-repeat;
}

.tours {
  width: 100%;
  min-height:100vh;
}
